[Desktop Entry]
Name=@name
Comment=Free voice and text chat for gamers
StartupWMClass=discord
Version=1.0
Icon=/opt/@dir/@icon
Exec=/opt/@dir/@exe
Type=Application
Terminal=false
StartupNotify=true
Categories=Network;InstantMessaging;

