[Desktop Entry]
Name=@name
Comment=Free voice and text chat for gamers
StartupWMClass=discord
Version=1.0
Icon=/opt/@dir/@icon
Exec=/opt/@dir/@exe --enable-accelerated-mjpeg-decode --enable-accelerated-video --ignore-gpu-blacklist --enable-native-gpu-memory-buffers --enable-gpu-rasterization 
Type=Application
Terminal=false
StartupNotify=true
Categories=Network;InstantMessaging;

